<nav class="cf-admin-nav">
  <%= link_to '管理トップ', admin_root_path, class: 'cf-admin-nav-link' %>
  <%= link_to 'AI利用ログ', admin_ai_usage_events_path, class: 'cf-admin-nav-link' %>
  <%= link_to 'AI失敗ログ', admin_ai_failures_path, class: 'cf-admin-nav-link' %>
  <%= link_to '問題報告', admin_problem_reports_path, class: 'cf-admin-nav-link' %>
  <%= link_to 'アプリへ戻る', root_path, class: 'cf-admin-nav-link' %>
</nav>
